In [4]:
import pandas as pd
import category_encoders as ce

In [2]:
# names of columns, as per description
cols_names = ['Class', 'age', 'menopause', 'tumor-size', 
              'inv-nodes', 'node-caps', 'deg-malig', 'breast', 
              'breast-quad', 'irradiat']

# read the data
df = (pd.read_csv('data/breast-cancer.data', 
                 header=None, names=cols_names)
        .replace({'?': 'unknown'}))  # NaN are represented by '?'
df.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [5]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='Class')
y = df['Class'].copy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [6]:
ohe = ce.OneHotEncoder(handle_unknown='ignore', use_cat_names=True)
X_train_ohe = ohe.fit_transform(X_train)
X_train_ohe.head()

,age_60-69,age_30-39,age_40-49,age_50-59,age_70-79,menopause_lt40,menopause_premeno,menopause_ge40,tumor-size_10-14,tumor-size_30-34,...,deg-malig,breast_left,breast_right,breast-quad_right_up,breast-quad_left_up,breast-quad_left_low,breast-quad_right_low,breast-quad_central,irradiat_no,irradiat_yes
12,1,0,0,0,0,1,0,0,1,0,...,1,1,0,1,0,0,0,0,1,0
35,0,1,0,0,0,0,1,0,0,1,...,2,1,0,0,1,0,0,0,1,0
28,0,0,1,0,0,0,1,0,0,0,...,2,0,1,0,0,1,0,0,1,0
142,1,0,0,0,0,0,0,1,1,0,...,1,1,0,0,1,0,0,0,1,0
225,0,0,1,0,0,0,0,1,0,0,...,3,0,1,0,0,1,0,0,0,1

In [9]:
X_test_ohe = ohe.transform(X_test)

In [10]:
X_test_ohe.head()

,age_30-39,age_40-49,age_60-69,age_50-59,age_70-79,age_20-29,menopause_premeno,menopause_ge40,menopause_lt40,tumor-size_30-34,...,breast_left,breast_right,breast-quad_left_low,breast-quad_right_up,breast-quad_left_up,breast-quad_right_low,breast-quad_central,breast-quad_unknown,irradiat_no,irradiat_yes
9,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,0
267,0,0,1,0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
143,0,1,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,0,1
212,0,1,0,0,0,0,1,0,0,1,...,0,1,0,1,0,0,0,0,1,0
227,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,0,0,1